{% extends "base.html" %}
{% block content %}

<div class="container">
<h1 class="text-success">Количество заявок, принятых в работу : {{ num_applications_in_progress }}</h1>
          {% if applications_done %}
<h1 class="text-success">Выполненные заявки:</h1>
          {% endif %}
{% for application in applications_done %}
      {% if forloop.counter <= 4 %}
        <div class="app_done ">
            <h4>{{ application.name }}</h4>
            <p>{{ application.category }}</p>
            <img width="500px" height="300px" src="{{ application.design.url }}">
            <p>{{ application.timestamp }}</p>
        </div>
      {% endif %}
{% endfor %}
</div>
{% endblock %}
